<template>
    <div class = '<%= data.lowerName%>>'>
        <h1>{{message}}</h1>
    </div>
</template>

<script>
    export default {
        name: "<%= data.name%>",
        data(){
            return{
                message:'<%= data.name%>'
            }
        },
        components:{

        },
        mixin:[],
        methods:{

        },
        computed:{

        },
        props:{

        },
        created(){

        },
        mounted(){

        }
    }
</script>

<style>
</style>